@page
@model ConTech.Web.Pages.Project.CreateModel
@{
    ViewData["Title"] = "Create New Item";
}

<h2>Create New Item</h2>

<form method="post" asp-page-handler="OnPost">
    <div class="row simple-input-form min-vh-60">
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Project.Name"></label>
                <input asp-for="Project.Name" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Project.Description"></label>
                <textarea asp-for="Project.Description" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@