@page
@model ConTech.Web.Pages.Project.IndexModel
@{
    
}

<h1>Message from Project</h1>

<div style="color:blue;font-size:large;">
    <form method="get">
        <button type="submit" asp-page="./Create">Create Project</button>
    </form>
</div>
